body{
	margin: 0;
}
p{
	margin: 0;
	font-size: 20px;
}
.container{
	width: 1200px;
	display: flex;
	margin:0 auto;
	justify-content: space-evenl ;
}
.column{
	flex-basis: 33.33%;
	display: flex;
	padding: 31px;
	
}
.box1,.box2,.box3{
	padding: 30px;
	display: flex;
	align-items: center;
	box-shadow: 5px 11px 31px #161414f5;
	border-radius: 32px;
	transition-duration: 0.5s;

}
.box3:hover,.box2:hover,.box1:hover{
	background-color: #444;
	color: white;
}
